.title {
  font-size: 2rem;
  text-align: center !important;
  margin-top: 10%;
  font-weight: bold;
}

/* .content {
  border-radius: 5px;
  background-color: aliceblue;
  /* min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 5px;
} */

/* .content {
  border-radius: 5px;
  box-shadow: 0 0 5px;
  width: 50%;
  max-width: 100%;
  padding: 15px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: block;
  position: relative;
  top: 100px;
  left: 50px;
} */
