.container {
    transform: translate(-100%)l
}




/* .App {
    border-radius: 5px;
    box-shadow: 0 0 5px;
    width: 50%;
    max-width: 100%;
    padding: 15px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: block;
    position: relative;
    top: 100px;
    left: 50px;
  } */
